<!DOCTYPE html>
<!--[if IE ]><html lang="en-US" class="lt-ie ie" {{ HTML_ATTRS }}><![endif]-->
<!--[if (gt IE)|!(IE)]><!--><html {{ HTML_ATTRS }}><!--<![endif]-->
  <head>
    {{ HEAD }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114122385-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114122385-1');
    </script>
  </head>
  <body {{ BODY_ATTRS }}>
  <div id="fb-root"></div>
  <script>
    if (typeof window.fbReady === 'undefined') {window.fbReady = {}}
    fbReady.tail = []
    if (!fbReady.active) {
      fbReady.active = false
    }
    fbReady.run = function (cb) {
      if (fbReady.active === true) {
        setTimeout(() => {
          cb()
          console.log('running directly', cb);
        }, 300);
      } else {
        fbReady.tail.push(cb)
      }
    }
    fbReady.launch = function () {
        window.fbReady.active = true
        setTimeout(() => {
          for (let i = 0; i < fbReady.tail.length; i++) {
            const fn = fbReady.tail[i];
            console.log('running after', fn);
            fn()
          }
        }, 300);
    }
    window.fbAsyncInit = function () {
        FB.init({
          appId: '2004847559786991',
          autoLogAppEvents: true,
          xfbml: false,
          version: 'v2.12'
        });
        window.fbReady.launch()
      };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/es_LA/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
    {{ APP }}
  </body>
</html>
