<template>
  <div class="index">
    <div class="hero is-fullheight is-primary">
      <div class="is-overlay">
        <img
          src="~/assets/background.jpg"
          alt="Fondo Demo">
      </div>
      <div class="hero-body">
        <div class="option_grid">
          <div class="option">
            <nuxt-link to="/autos-nuevos">
              <img
                src="/images/grid/autos-nuevos.png"
                alt="autos nuevos">
            Autos Nuevos</nuxt-link>
          </div>
          <div class="option">
            <nuxt-link to="/refacciones">
              <img
                src="/images/grid/refacciones.png"
                alt="refacciones">
            Refacciones</nuxt-link>
          </div>
          <div class="option">
            <nuxt-link to="/accesorios">
              <img
                src="/images/grid/accesorios.png"
                alt="accesorios">
            Accesorios</nuxt-link>
          </div>
          <div class="option">
            <nuxt-link to="/seminuevos">
              <img
                src="/images/grid/seminuevos.png"
                alt="autos seminuevos">
            Seminuevos</nuxt-link>
          </div>
          <div class="option">
            <nuxt-link to="/cita-servicio">
              <img
                src="/images/grid/servicio.png"
                alt="cita de servicio">
            Cita de servicio</nuxt-link>
          </div>
          <div class="option">
            <nuxt-link to="/aviso-privacidad">
              <img
                src="/images/grid/aviso-privacidad.png"
                alt="aviso de privadidad">
            Aviso de privacidad</nuxt-link>
          </div>
          <div class="option">
            <nuxt-link to="/redes-sociales">
              <img
                src="/images/grid/redes.png"
                alt="redes sociales">
            Redes Sociales</nuxt-link>
          </div>
          <div class="option">
            <nuxt-link to="/contactanos">
              <img
                src="/images/grid/contacto.png"
                alt="autos nuevos">
            Contáctanos</nuxt-link>
          </div>
          <div class="option">
            <nuxt-link to="/chat">
              <img
                src="/images/grid/chat.png"
                alt="autos nuevos">
            Chat</nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Index',
  head: {
    title: 'Index',
  },
}
</script>

<style lang="sass" scoped>
@import "~bulma/sass/utilities/_all"
@import "assets/sass/base/color.sass"
.hero
  position: relative
  background-color: $black
  .hero-body
    padding: 0
.is-overlay
  img
    width: 100%
    height: 100%
    object-fit: cover
    z-index: -1
.option_grid
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-around
  z-index: 2
  margin: 1rem auto
  .option
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around
    margin-bottom: 5vh
    img
      width: 80px
      height: 80px
      margin: 0 auto
      display: block
    +mobile
      width: 33%
    +tablet
      width: 24%
    a
      padding: .2rem
      text-align: center
      font-size: .8rem
      color: $white
      &:hover
        color: $primary

</style>
