<template lang="html">
  <div class="inner-content">
    <div class="bx_title">
      <nuxt-link
        to="/"
        class="btn_back">
        <i class="fas fa-chevron-circle-left" />
      </nuxt-link>
      <h2 class="title is-4">Redes Sociales</h2>
    </div>
    <div class="inner-scroll has-text-centered">
      <no-ssr>
        <div
          ref="fbiframe"
          class="fb-page"
          data-href="https://www.facebook.com/pages/Estudios-Interlomas/"
          data-tabs="timeline,events,messages"
          data-small-header="false"
          data-adapt-container-width="true"
          data-hide-cover="false"
          data-show-facepile="true">
          <blockquote
            cite="https://www.facebook.com/pages/Estudios-Interlomas/"
            class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/pages/Estudios-Interlomas/">Mazda Pasión Del Valle</a>
          </blockquote>
        </div>
      </no-ssr>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RedesSociales',
  mounted() {
    const vm = this
    if (window) {
      vm.loadIframe()
    }
  },
  methods: {

    loadIframe() {
      if (this.$el.querySelectorAll('iframe').length < 1) {
        console.log('loading', window.FB)
        window.fbReady.run(() => {
          console.log('REDY', window.FB)
          window.FB.XFBML.parse()
        })
      }
    },
  },
}
</script>

<style lang="sass" scoped>
@import "assets/sass/base/color.sass"
iframe
  width: 100%
  height: 100%
  min-height: 80vh
  border: 1px solid $rojo-mazda
</style>
